@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  border: solid 1px red;
}

html {
  margin: 0;
  padding: 0;
  
}

body {
  margin: 0;
  padding: 0;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/*----------------SECTION HOME---------------------*/



/*----------------MEDIA QUERY---------------------*/
@media (max-width: 768px) {
  /* section icon home  */
  .section-icon-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  .section-icon-home div{
    width: 25%;
    height: 60%;
  }
  .section-targets {
    display: flex;
    flex-direction: column;
  }
  .section-tecnologys{
    gap: 0;
  }
  .section-tecnologys div{
    width: 30%;
  }
/* section card client  */
  .section-cards-customer{
    height:max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
  }
  .section-cards-customer div{
    width: 100%;
    
  }
/* information of client  */
  .info-profile-customer{
    width:100% ;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .info-profile-customer div {
    width: 310px;
    height: 310px;
    padding: 0;
  }
  .info-profile-customer div div {
    padding: 20px;
  }
    /* section another propieties  */
  .section-cards-another-propieties{
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
  }
}

@media (max-width: 1080px) {
  /* information of client  */
    .info-profile-customer {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
    }
  
    .info-profile-customer div {
      width: 310px;
      height: 310px;
      padding: 0;
    }
  
    .info-profile-customer div div {
      padding: 20px;
    }
    /* section card client  */
    .section-cards-customer {
      height: max-content;
      width: 100%;
      display: flex;
    
      padding: 50px;
      gap: 30px;
    }

    .section-cards-customer div {
      width: 100%;
      display:flex;
      flex-direction: column;
    }
}